* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #2dc27a;
    color: white;
    text-align: center;
    padding: 40px 20px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
.subtitulo {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.tarjeta {
    background-color: white;
    color: #2D2DC2;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.tarjeta:hover {
    background-color: #a8e6a2; 
}
.tarjetaImg {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.titulo {
    font-size: 18px;
    font-weight: bold;
    color: #1A237E;
    text-align: center;
    margin-bottom: 10px; 
}
.boton {
    
    margin-top: 10px;
    padding: 10px 15px;
    background: #1b5e20;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.boton:hover {
    background-color: #78e4e7; 
}
.figura {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.7);
}
.triangulo {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #3498db;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    margin-bottom: 10px;
}
.triangulo-Isosceles {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #164d72;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    margin-bottom: 10px;
}
.triangulo-Equilatero {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid #14a7b4;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    margin-bottom: 10px;
}
.triangulo-Escaleno {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid #166d6a;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    margin-bottom: 10px;
}
.triangulo-Rectangulo {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 120px solid #c43d35;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    margin-bottom: 10px;
}
.circulo {
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    border-radius: 50%;
}
.rectangulo {
    width: 150px;
    height: 80px;
    background-color: #2ecc71;

}
.rombo {
    width: 80px;
    height: 80px;
    background-color: #f39c12;
    transform: rotate(45deg);
    margin-bottom: 20px;
}
.formulario {
    
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #36b37e;
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #1b5e20;
    box-shadow: 0px 0px 8px rgba(27, 94, 32, 0.5);
}
.icono {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
}